*{margin:0}

html{
    min-width: 240px;
}

main{
    max-width:90%;
    padding: 10px;
    margin: 20px auto;
}

h2{
    padding: 7px 0px;
    border-bottom-style: solid;
    border-bottom-color: rgb(43, 3, 78);
}

h3{
    padding: 5px 5px;
    margin: 25px 0 5px;
    background-color: rgb(231, 185, 255);
    border-radius: 5px;
}

.code{
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(43, 3, 78);
    color: rgb(243, 221, 255);
    border-radius: 5px;
}

.mainNav{
    background-color: blueviolet;
}

.pagesList li {
    margin: 5px;
}