*{margin:0}

p, h1, h2, li {
    font-family: 'Architects Daughter', cursive;
}

header, footer {
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
}

header, footer, main {
    padding: 5px 30px;
    max-width:90%;
    padding: 10px;
    margin: 20px auto;
}

footer a {
    color: rgb(219, 185, 31)
}

img {
    max-width: 180px;
    border-radius: 6px;
    box-shadow: 5px 5px  #13121244;
    margin: 40px 40px;
}

#title {
    font-family: 'The Nautigal', cursive;
    font-size: 3.5em;
    margin-top: -100px;
    
}

html{
    min-width: 240px;
}


nav ul li{
    display:inline-block;
    vertical-align: top;
    color:rgb(243, 221, 255);
}

nav ul li a:link{
    color: rgb(243, 221, 255);
}

a:visited{
    color: rgb(243, 221, 255);
}

h2{
    padding: 7px 0px;
    border-bottom-style: solid;
    border-bottom-color: rgb(43, 3, 78);
}

h3{
    padding: 5px 5px;
    margin: 25px 0 5px;
    background-color: rgb(231, 185, 255);
    border-radius: 5px;
}

b{background-color: rgb(246, 233, 253);}

.code{
    margin: 5px 0;
    padding: 10px;
    background-color: rgb(43, 3, 78);
    color: rgb(243, 221, 255);
    border-radius: 5px;
}

#pagesList{margin: 0; padding: 10px ;}

#mainNav{
    background-color: blueviolet;
}

#pagesList {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   border-bottom-style: solid;
   border-bottom-color: rgb(43, 3, 78);
}

#pagesList li {
    list-style: none;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    font-size: 15px;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
    padding: 7px;
    margin: 5px;
}

.coment{
    color:rgb(161, 54, 255);
}

#myLinks{
    text-align: center;
    list-style: none;
}